/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* GLOBAL */
body {
  margin: 0;
  font-family: "Orbitron", sans-serif;
  background: radial-gradient(circle at center, #0a0f14, #000);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-panel {
  margin-top: 20px;
}

.status-bar {
  background: #111;
  border: 2px solid #00ff99;
  padding: 10px;
  text-align: center;
  font-family: monospace;
  letter-spacing: 2px;
}

.status-bar span {
  color: #00ff99;
  font-weight: bold;
}